NEXT_PUBLIC_API_BASE=http://localhost:3000
#NEXT_PUBLIC_API_BASE=https://fitflex-faas.bfast.smartstock.co.tz
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCleDGLHf71NdmbFkXbJVzS9tOsmIMj7tA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=fitflex-af-pilot.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=fitflex-af-pilot
NEXT_PUBLIC_FIREBASE_APP_ID=1:318978253903:web:49b58d5fda05603645f63a
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=318978253903
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=fitflex-af-pilot.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=318978253903-u6du2v8thfbdbmortdh49k1g06uv91v7.apps.googleusercontent.com
